.app {
    width: 700px;
    height: 500px;

    margin: 10px;

    border: 1px solid black;
}

.app .messages-list {
    height: calc(100% - 35px);

    padding: 3px;

    overflow-y: auto;
}

.app .messages-list .app-message:not(:last-child) {
    margin-bottom: 5px;
}


.app .send-form {
    height: 35px;

    padding: 2px;

    border-top: 1px solid black;
}
