.app {
    width: 700px;
    height: 500px;

    margin: 10px;

    border: 1px solid black;
}

.app .messages-list {
    height: calc(100% - 35px);

    padding: 3px;

    overflow-y: auto;
}

.app .messages-list .message {
    display: grid;

}

.app .messages-list .message:not(:last-child) {
    margin-bottom: 5px;
}


.app .message-form {
    height: 35px;

    border-top: 1px solid black;
}

.app .message-form form {
    height: 100%;

    padding: 2px;

    display: block;
}

.app .message-form input.message {
    width: calc(100% - 50px);
    height: calc(100%);

    border-width: 0 0 2px;
    border-color: gray;

    transition: 0.25s border-color;
    will-change: border-color;
}

.app .message-form input.message:focus {
    outline: none;
    border-color: cornflowerblue;
}

.app .message-form button {
    width: 50px;
    height: 100%;;
}
